<% layout('layouts/boilerplate') %>
<style>
  .form-label {
    color: white;
  }
  .col-md-6 {
    border: 1px white solid;
    border-radius: 1.2%;
    padding-top: 5px;
  }
  #back-link, #back-link:hover {
    color: white;
    text-decoration: none;
  }
  #back-link:hover {
    color: antiquewhite;
    border-bottom: 1px white solid;
  }
</style>

<div class="row mb-5">
  <div class="col-md-6 offset-md-3">
    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title"><strong>New Campground</strong> Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <!-- <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="campground[image]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div> -->
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" id="price" name="campground[price]" required>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="input-group mb-3 custom-file">
        <input type="file" class="form-control" id="image" name="image" multiple>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <div class="mb-3">
      <a id="back-link" href="/campgrounds">All Campgrounds</a>
    </div>
  </div>
</div>